@font-face {
    font-family: Montserrat, sans-serif;
    src: url("./static/Montserrat-Regular.ttf")
}

html, body {
    padding: 0;
    font-family: Montserrat, sans-serif;
    overflow: hidden;
}

:root {
    --k1Color: #686868;
    --k1Tap: #ffffff;
    --k1Text: #ffffff;

    --k2Color: #686868;
    --k2Tap: #ffffff;
    --k2Text: #ffffff;

    --m1Color: #686868;
    --m1Tap: #ffffff;
    --m1Text: #ffffff;

    --m2Color: #686868;
    --m2Tap: #ffffff;
    --m2Text: #ffffff;

    --radius: 5px;
}

#Key1Cont,
#Key2Cont,
#Mouse1Cont,
#Mouse2Cont {
    transition: ease 500ms;
}

#keys {
    --fadeIn: linear-gradient(to left, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
    transition: ease-in-out 200ms;
}
.keyContainer {
    width: 300px;
    height: 40px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-template-rows: 1fr;
    padding: 10px;
}
.keyTap {
    border-radius: 5px;
    position: absolute;
    right: 35px;
    width: 8px;
    height: 100%;
}
.odometer.odometer-auto-theme{
    font-weight: normal;
    text-align: right;
}
.tiles {
    -webkit-mask: var(--fadeIn);
    mask: var(--fadeIn);
}
.tile {
    width: 0;
    height: 100%;
    max-width: 100%;
    right: 35px;
    border-radius: var(--radius);
    opacity: 50%;
}

.absolute {
    top: 2.5%;
    position: absolute;
    width: 100%;
    height: 95%;
}

.relative {
    position: relative;
    height: 100%;
}
.text {
    font-size: 20px;
    font-weight: 300;
    min-width: 50px;
    top: 10%;
    right: 50px;
    height: 100%;
    padding: 5px;
    float: right;
}
.keyName {
    position: absolute;
    font-size: 20px;
    min-width: 50px;
    height: 100%;
    top: 10px;
    text-align: left;
    right: -25px;
    text-transform: uppercase;
    transition: ease-out 300ms;
}
#key1, #k1Text {
    color: var(--k1Text);
}
#key2, #k2Text {
    color: var(--k2Text);
}
#key3, #m1Text {
    color: var(--m1Text);
}
#key4, #m2Text {
    color: var(--m2Text);
}
@keyframes moveOut {
    100% { transform: translateX(-100%); }
}