@font-face {
    font-family: 'Stanley Moon';
    src: url('../static/StanleyMoon.otf');
}
#SonataTextResult {
    position: absolute;
    font-family: 'Stanley Moon';
    font-size: 50px;
    color: #a1c9ff;
    bottom: 0;
    right: 10px;
    font-weight: 500;
}
#modContainer {
    position: absolute;
    bottom: 0;
    margin-right: 15px;
	display: flex;
    justify-content: flex-end;
	align-items: center;
    transition: ease 500ms;
    transition-delay: 1.2s;
}
.mods {
	width: 66px;
	height: 50px;
	background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    object-fit: cover;
    margin-right: -15px;
}
#PlayerFlag {
    width: 60px;
    height: 41px;
    background-size: 100%;
    background-position: 50% 50%;
    border-radius: 5px;
}
#RankingPanel {
	position: absolute;
    display: flex;
	width: 2560px;
	height: 1440px;
	top: 0;
	left: 0;
    align-items: center;
    justify-content: center;
	color: white;
    transition: ease 500ms;
    overflow: hidden;
    z-index: 2;
    background-color: #050819e6;
}
#bgborder {
    width: 97%;
    height: 95%;
    border: 3px solid #a1c9ff;
}
#ResultBottom {
    position: absolute;
    bottom: 50px;
    width: 97%;
    display: flex;
    justify-content: center;
}
#SongRanking {
    position: absolute;
    height: 280px;
    bottom: 0;
    display: flex;
    justify-content: center;
}
#rankingResult {
    text-align: center;
    font-size: 200px;
    font-weight: 600;
    transition: transform cubic-bezier(.85,.09,.5,.87) 1s, opacity cubic-bezier(.85,.09,.5,.87) 1s, background 0ms;
    transition-delay: 1.5s;
}
#ResultTop {
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    width: 97%;
}
#MapStats {
    position: absolute;
    left: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    transition: ease 700ms;
}
#rankStatus {
    width: 40px;
    height: 40px;
    background-size: 100%;
}
#StatsBG {
    width: 240px;
    height: 165px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}
#RBG{
    position: absolute;
    width: 240px;
    height: 165px;
    border-radius: 20px;
    object-fit: cover;
    z-index: -3;
}
#StatsText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}
#StatsBPM {
    position: absolute;
    left: 20px;
    top: 180px;
    border: 3px solid #a1c9ff;
    padding: 5px 10px 5px 10px;
    font-size: 30px;
    transition: ease 700ms;
}
#StatsBar {
    position: absolute;
    right: 20px;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #a1c9ff;
    font-weight: 800;
    transition: ease 700ms;
}
.LineBar {
    width: 400px;
    height: 30px;
    border-radius: 50px;
    border: 3px solid #a1c9ff;
    overflow: hidden;
}
.GlowBar {
    height: 30px;
    border-radius: 30px;
    background-color: #a1c9ff;
    overflow: hidden;
    transition: ease 700ms;
}
.StatsBL {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
}
.TextBar {
    font-size: 25px;
    color: white;
    margin-left: 15px;
}
#ResultMiddle {
    position: absolute;
    display: flex;
    font-size: 55px;
    font-weight: 700;
    transition: ease 700ms;
    transition-delay: 500ms;
}
#MiddleBar {
    width: 5px;
    height: 460px;
    background-color: #a1c9ff;
    border-radius: 10px;
    transition: ease 700ms;
    transition-delay: 500ms;
}
#PContainer {
    display: flex;
    gap: 25px;
    flex-direction: column;
    line-height: 50px;
}
#TContainer {
    text-align: right;
    display: flex;
    gap: 25px;
    flex-direction: column;
    line-height: 65px;
}
#NameFlag {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
#ScoreResultContainer,
#PlayerContainer {
    margin: 30px;
    overflow: hidden;
}
#TContainer,
#PContainer {
    transition: ease 1s;
    transition-delay: 1s;
}
#PlayerData {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    font-size: 45px;
}
#PlayerAvatar {
    width: 120px;
    height: 120px;
    background-size: 100%;
    border-radius: 10px;
}
#JudgementTotal,
#PlayerPPResult {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#JudgementTotal {
    font-size: 37px;
    gap: 20px;
}
.JudgeBar {
    width: 10px;
    height: 50px;
    border-radius: 10px;
}
#Judge100 {
    background-color: #69f8b1;
}
#Judge50 {
    background-color: #f8e95f;
}
#Judge0 {
    background-color: #ff7575;
}
#JudgeSB {
    background-color: white;
}
#ResultPerformance {
    position: absolute;
    right: 80px;
}
#UserTopPlay {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#Top1 {
    transition-delay: 1s;
}
#Top2 {
    transition-delay: 1.1s;    
}
#Top3 {
    transition-delay: 1.2s;    
}
#Top4 {
    transition-delay: 1.3s;    
}
#Top5 {
    transition-delay: 1.4s;
}
#Top6 {
    transition-delay: 1.5s;
}
.TopPlay {
    border-radius: 10px;
    outline: 5px solid rgba(161, 201, 255, 0);
    width: 460px;
    height: 100px;
    transition-duration: 800ms;
    transition-timing-function: cubic-bezier(.42,0,0,1);
    font-size: 35px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.topStat {
    position: relative;
    width: 92%;
    display: flex;
    left: 20px;
    height: 50px;
    gap: 20px;
}
.topRanking {
    position: relative;
    bottom: 10px;
    font-size: 50px;
}
.topDate {
    position: relative;
    width: 92%;
    height: 50px;
    left: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.topMods {
    position: relative;
    top: 10px;
    height: 27px;
    width: 200px;
    display: flex;
    justify-content: flex-start;
}
.topPP {
    position: absolute;
    right: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#resultRecorder {
	position: absolute;
    left: 10px;
    bottom: -10px;
	font-size: 30px;
	color: white;
    font-weight: 800;
}

#createdAt {
    position: absolute;
    bottom: 70px;
    right: 20px;
    font-size: 35px;
    font-weight: 800;
}

/* Mods Color */
.HR {
    background-color: #f67b7a;
    box-shadow: 0 4px 0#924848;
}
.NC {
    background-color: #8262c5;
    box-shadow: 0 4px 0#4f3c79;
}
.HD {
    background-color: #f6de77;
    box-shadow: 0 4px 0#776c3a;
}
.DT {
    background-color: #8e84fb;
    box-shadow: 0 4px 0#403c72;
}
.SD {
    background-color: #887c47;
    box-shadow: 0 4px 0#6b6237;
}
.PF {
    background-color: #ffe08d;
    box-shadow: 0 4px 0#837348;
}
.HT {
    background-color: #424242;
    box-shadow: 0 4px 0#333333;
}
.NF {
    background-color: #84c1fb;
    box-shadow: 0 4px 0#557da1;
}
.SO {
    background-color: #850000;
    box-shadow: 0 4px 0#520000;
}
.FL {
    background-color: #8a4545;
    box-shadow: 0 4px 0#572c2c;
}
.NM {
    background-color: #888888;
    box-shadow: 0 4px 0#555555;
}
.TD {
    background-color: #4bffd8;
    box-shadow: 0 4px 0#4bffd8;
}
.EZ {
    background-color: #1ceb82;
    box-shadow: 0 4px 0#139e58;
}
.TP,.AT,.RX,.AP,.CL {
    background-color: #13163b;
    box-shadow: 0 4px 0#070816;
}

/* Ranking Color */
.D {
    color: #ff6161;
}
.C {
    color: #ea8af7;
}
.B {
    color: #55abfc;
}
.A {
    color: #64ffb2;
}
.S, .X {
    color: #faef8b;
}
.SH, .XH {
    color: white;
}