* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    background: transparent;
    overflow: hidden;
}

.hit-container {
    display: inline-block;
    background: rgba(20, 20, 30, 0.85);
    padding: 9px 15px;
    border-radius: 3px;
    min-width: 150px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.hit-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
    gap: 60px;
    line-height: 1.6;
    transition: all 0.1s ease;
}

.hit-row .updated {
    transform: scale(1.05);
}

.label {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    min-width: 33px;
    text-align: left;
}

.value {
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    text-align: right;
    min-width: 45px;
}

.perfect .label,
.perfect .value {
    color: #00FFFF;
}

.great .label,
.great .value {
    color: #FFFF00;
}

.good .label,
.good .value {
    color: #00FF00;
}

.ok .label,
.ok .value {
    color: #00BFFF;
}

.meh .label,
.meh .value {
    color: #FF00FF;
}

.miss .label,
.miss .value {
    color: #FF0000;
}
