@font-face {
    font-family: "Torus";
    src: url(./fonts/Torus-Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: "Torus";
    src: url(./fonts/Torus-SemiBold.otf);
    font-weight: 500;
}
body,
html {
	padding: 0;
	margin: 0;
}
#UserMode {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 130px;
    width: 130px;
    background-size: 100%;
    opacity: 30%;
}
#UserBG {
    position: absolute;
    display: flex;
    width: 1280px;
    height: 300px;
    border: 8px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: rgb(39, 39, 39);
}
#ColorBG {
    overflow: hidden;
    font-family: "Torus";
    font-weight: 500;
    position: absolute;
    display: flex;
    color: white;
    width: 1280px;
    height: 300px;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    transition: 500ms ease-in-out;

}
#UserAvatar {
    border-radius: 20px;
    width: 270px;
    height: 270px;
    margin: 10px;
    background-size: 100%;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
}
#UserFlag {
    position: absolute;
    width: 60px;
    height: 47px;
    border-radius: 10px;
    background-size: cover;
    background-position: 50% 50%;
    bottom: 5px;
}
#Username {
    position: absolute;
    font-size: 90px;
    font-weight: 700;
    top: -10px;
    left: 300px;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
#UserRank {
    position: absolute;
    bottom: -5px;
    right: 10px;
    font-size: 160px;
    opacity: 50%;
}
.stats {
    position: absolute;
    font-size: 50px;
    left: 300px;
    top: 100px;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
#UserCurrentStatus {
    width: 970px;
    height: 120px;
    overflow: hidden;
}
#UserStats {
    animation: fade1 15s linear infinite;
}
#UserStatus {
    animation: fade2 15s linear infinite;
}

@keyframes fade1 {
    0% {opacity: 1;}
    50% {opacity: 1;}
    55% {opacity: 0;}
    95% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade2 {
    0% {opacity: 0;}
    50% {opacity: 0;}
    55% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 0;}
}

.Status0, .Status13 {
    background-color: rgba(63, 124, 169, 0.7);
    border-color: rgb(110, 168, 230);
}
.Status1 {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgb(90, 90, 90);
}
.Status2 {
    background-color: rgba(156, 156, 156, 0.7);
    border-color: rgb(160, 160, 160);
}
.Status3 {
    background-color: rgba(205, 101, 101, 0.7);
    border-color: rgb(173, 85, 85);
}
.Status4 {
    background-color: rgba(90, 217, 82, 0.7);
    border-color: rgb(85, 173, 90);
}
.Status5, .Status11 {
    background-color: rgba(205, 145, 101, 0.7);
    border-color: rgb(230, 173, 110);
}
.Status6 {
    background-color: rgba(141, 116, 255, 0.7);
    border-color: rgb(143, 109, 222);
}
.Status8 {
    background-color: rgba(215, 82, 217, 0.7);
    border-color: rgb(173, 85, 169);
}
.Status9 {
    background-color: rgba(136, 255, 199, 0.7);
    border-color: rgb(85, 184, 142);
}
.Status12 {
    background-color: rgba(240, 232, 123, 0.7);
    border-color: rgb(220, 216, 108);
}