body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#frame {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#color {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transition: ease 0.3s ;
    background: transparent;
}